*{
	box-sizing: border-box;
	margin:  0.1%;
	padding:  0%;
}
h1,p{
	font-family: 'Baloo Paaji 2', cursive;
	font-size: 150%;
	margin-left:   5%;
	color: white;
	text-shadow: 1% 1% 1% #1122;
	margin-top: 1;
	margin-bottom: 0px; 
	text-decoration: none;
}
a{
	text-decoration: none !important;
	color: white;
	font-size: 150%;
}
body{
	background-color: #61122f;*/

}
#header{
	width: 100%;
	background-color: #e40051;
	padding: 5px;
}
.logo-img{
	background: url('logo.png')  no-repeat;
	width: 80px;
	height: 80px;
	margin: 0px 0px 0px 20px;
	border: none;
}

.a{
	float: right;
	position: absolute;
	top: 4%;
	left: 70%;
}
nav a:hover{
	color: #12efdf;
}
nav a{
	margin-left: 30px;
	margin-right: 2px;
	font-size: 30px;
}
#midle img{
	display: ;
	width: 50%;
	margin-left:  1%;
}
.col-3{
	width:32%;
	margin-left: 1%;	
	float: left;
	
}
.idle{
	display: block;
	width: 33%;
	height: auto;
	float: left;
	
	overflow: hidden;
}
p{
	font-size: 20px;
}
.container{
	margin-top: 20px; 
	display: grid;
	grid-template-columns: 33%;
	grid-template-rows: 250px;	
}
.container > div{
	grid-row: 1 / 4 ;
}
.grid-1{
	width: 100%;
	background:url('piza.jpg');
	padding: 30px;
	background-color: 1edfac;
}
.grid-2{
	width: 100%;
	background-image:url('1.jpg');
	background-repeat: no-repeat;
	padding: 0px;
	
}
.grid-3{
	width: 100%;
	background-image:url('2.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 30px;
	background-color: #1edfac;
}
@media (max-width: 755px){
	#midle img{
	width: 100%;
}	
	.col-3{
		width: 100%;
}
	.idle{
		width:100%;
	}
}
